# Importing the libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Importing the dataset

In [3]:
df=pd.read_csv("toy_dataset.csv")

# Get Information of Dataframe

In [4]:
df.head()

   Number    City Gender  Age   Income Illness
0       1  Dallas   Male   41  40367.0      No
1       2  Dallas   Male   54  45084.0      No
2       3  Dallas   Male   42  52483.0      No
3       4  Dallas   Male   40  40941.0      No
4       5  Dallas   Male   46  50289.0      No

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29870 entries, 0 to 29869
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Number   29870 non-null  int64
 1   City     29870 non-null  object
 2   Gender   29870 non-null  object
 3   Age      29870 non-null  int64
 4   Income   29870 non-null  float64
 5   Illness  29869 non-null  object
dtypes: float64(1), int64(2), object(3)
memory usage: 1.4+ MB

In [6]:
df.describe

<bound method NDFrame.describe of        Number           City Gender  Age    Income Illness
0           1         Dallas   Male   41   40367.0      No
1           2         Dallas   Male   54   45084.0      No
2           3         Dallas   Male   42   52483.0      No
3           4         Dallas   Male   40   40941.0      No
4           5         Dallas   Male   46   50289.0      No
...       ...            ...    ...  ...       ...     ...
29865   29866  New York City   Male   36   85582.0      No
29866   29867  New York City   Male   55  121179.0      No
29867   29868  New York City   Male   57  109168.0      No
29868   29869  New York City   Male   37   88533.0      No
29869   29870  New York City   Male   41   76119.0     NaN

[29870 rows x 6 columns]>

In [7]:
df.isnull().sum()

Number     0
City       0
Gender     0
Age        0
Income     0
Illness    1
dtype: int64

# Taking care of missing data

In [9]:
df=df.dropna()

# Setting X and y

In [8]:
df.columns

Index(['Number', 'City', 'Gender', 'Age', 'Income', 'Illness'], dtype='object')

In [10]:
X=df[['City', 'Gender', 'Age', 'Income']]
y=df['Illness']

# Ordinal Encoder

In [11]:
from sklearn.preprocessing import OrdinalEncoder
oe=OrdinalEncoder()
X[['City', 'Gender']]=oe.fit_transform(X[['City', 'Gender']])

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)

# Label Encoder

In [12]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
y=le.fit_transform(y)

# Splitting the dataset into the Training set and Test set

In [13]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.3,stratify=y,random_state=2)

In [14]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((20908, 4), (8961, 4), (20908,), (8961,))

# Applying Logistic Regression

In [15]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression(max_iter=1000)
lr.fit(X_train,y_train)

LogisticRegression(max_iter=1000)

In [16]:
y_pred=lr.predict(X_test)

# Model Evaluation

In [17]:
from sklearn.metrics import classification_report, confusion_matrix

In [18]:
confusion_matrix(y_test,y_pred)

array([[8242,    0],
       [ 719,    0]])

In [20]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.92      1.00      0.96      8242
           1       0.00      0.00      0.00       719

    accuracy                           0.92      8961
   macro avg       0.46      0.50      0.48      8961
weighted avg       0.85      0.92      0.88      8961

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))